@font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url("../assets/fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Anton";
    font-weight: 400;
    src: url("../assets/fonts/anton/Anton-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("../assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("../assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 900;
    src: url("../assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
}